# ignore unnecessary resources to make this repo light

### src folder
src/conda_env/*
src/git_repo/*
src/GenBank_db/*

### 1. CMash
1_CMash/*
!1_CMash/*.md

### 2. Similarity tree

### 3. mini analysis
#20210130_CAMISIM_errorfree_simulation
3_mini_analysis/20210130_CAMISIM_errorfree_simulation/*
!3_mini_analysis/20210130_CAMISIM_errorfree_simulation/input_species.txt
!3_mini_analysis/20210130_CAMISIM_errorfree_simulation/*sh
!3_mini_analysis/20210130_CAMISIM_errorfree_simulation/CAMISIM_config_file


